/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Barra de navegacion */
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #34495e;
}

main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

/* Contador de cuenta regresiva*/
#countdown {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #f39c12, #e74c3c);
    padding: 20px 30px;
    border-radius: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 2rem auto;
    animation: pulseAnimation 1.5s infinite;
}

/* Animación de pulso */
@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Títulos principales */
h1, h2 {
    color: #2c3e50;
}

/* Puntajes */
#leaderboard {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.leaderboard-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

.first-place {
    background-color: #000000;
    color: white;
    animation-delay: 0s;
}

.second-place {
    background-color: #000000;
    color: white;
    animation-delay: 0.2s;
}

.third-place {
    background-color: #000000;
    color: white;
    animation-delay: 0.4s;
}

.fourth-place {
    background-color: #000000;
    color: white;
    animation-delay: 0.6s;
}

.position {
    font-weight: bold;
    font-size: 20px;
}

.name {
    font-size: 18px;
}

.score {
    font-size: 18px;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
